# Dependencies
node_modules/

# Jetbrains project
.idea/

# Local data (Hiding from Pi/Agent to force MCP tool usage)
data/*
!data/processed/all_docs.json

# Environment
.env

# MacOS files
.DS_Store
